// 定义变量

  //规则块外定义的变量在整个样式表都可以使用
  $body-color:#ccc;
  $body-width : 900px;
  $border-style : 1px solid red;
  $item-width : 500px;
  $item-height : 200px;

div.test-container{
  margin: 0 auto;
  width: $body-width;
  background-color: $body-color;
  border: $border-style;

  div.test-item-1{
    margin: 5px auto;
    border: $border-style;
    width: $item-width;
    height: $item-height;
  }

  div.test-item-2{
    //定义在规则块内的变量 只在此规则块内有效，且不会影响到规则块外
    $item-width : 400px;

    width: $item-width;
    height: $item-height;
    margin: 5px auto;
    border: $border-style;
  }

  div.test-item-3{
    margin: 5px auto;
    border: $border-style;
    width: $item-width;
    height: $item-height;
  }
}
