body canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: pointer; }
body .header-des {
  text-align: center;
  width: 100%; }
body .disable {
  display: none; }
body .main-container .heart-wrapper {
  margin: auto;
  position: fixed;
  height: 230px;
  width: 280px;
  left: 50%;
  margin-left: -140px;
  top: 0;
  -webkit-transform: rotate(180deg) scale(0.3);
  transform: rotate(180deg) scale(0.3);
  -webkit-animation-name: fall,jump;
  animation-name: fall,jump;
  -webkit-animation-duration: 5s,1s;
  animation-duration: 5s,1s;
  -webkit-animation-timing-function: linear,ease-out;
  animation-timing-function: linear,ease-out;
  -webkit-animation-delay: 2s,7s;
  animation-delay: 2s,7s;
  -webkit-animation-fill-mode: forwards,none;
  animation-fill-mode: forwards,none;
  -webkit-animation-iteration-count: 1,infinite;
  animation-iteration-count: 1,infinite; }
  body .main-container .heart-wrapper::before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: 35%;
    bottom: 88px;
    width: 140px;
    height: 230px;
    background-color: red;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    border-radius: 100px 100px 0 0;
    cursor: pointer; }
  body .main-container .heart-wrapper::after {
    content: " ";
    display: inline-block;
    position: absolute;
    bottom: 88px;
    right: 35%;
    width: 140px;
    height: 230px;
    background-color: red;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    border-radius: 100px 100px 0 0;
    cursor: pointer; }
@keyframes jump {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transform: translateY(40vh) scale(1);
    transform: translateY(40vh) scale(1); }
  15% {
    -webkit-transform: translateY(40vh) scale(0.6);
    transform: translateY(40vh) scale(0.6); }
  30% {
    -webkit-transform: translateY(40vh) scale(1);
    transform: translateY(40vh) scale(1); }
  45% {
    -webkit-transform: translateY(40vh) scale(0.7);
    transform: translateY(40vh) scale(0.7); } }
@keyframes fall {
  0% {
    -webkit-transform: rotate(180deg) scale(0.3);
    transform: rotate(180deg) scale(0.3); }
  9% {
    -webkit-transform: rotate(90deg) scale(0.35);
    transform: rotate(90deg) scale(0.35); }
  18% {
    -webkit-transform: rotate(-30deg) scale(0.4);
    transform: rotate(-30deg) scale(0.4); }
  24% {
    -webkit-transform: rotate(30deg) scale(0.45);
    transform: rotate(30deg) scale(0.45); }
  30% {
    -webkit-transform: rotate(-15deg) scale(0.5);
    transform: rotate(-15deg) scale(0.5); }
  35% {
    -webkit-transform: translateY(10vh) scale(0.5);
    transform: translateY(10vh) scale(0.5); }
  45% {
    -webkit-transform: translateY(70vh) rotate(20deg) scale(0.45);
    transform: translateY(70vh) rotate(20deg) scale(0.45); }
  55% {
    -webkit-transform: translateY(72vh) rotate(-20deg) scale(0.4);
    transform: translateY(72vh) rotate(-20deg) scale(0.4); }
  65% {
    -webkit-transform: translateY(74vh) rotate(20deg) scale(0.35);
    transform: translateY(74vh) rotate(20deg) scale(0.35); }
  75% {
    -webkit-transform: translateY(77vh) rotate(-20deg) scale(0.3);
    transform: translateY(77vh) rotate(-20deg) scale(0.3); }
  85% {
    -webkit-transform: translateY(80vh) rotate(0deg) scale(0.2);
    transform: translateY(80vh) rotate(0deg) scale(0.2); }
  100% {
    -webkit-transform: translateY(40vh) scale(1);
    transform: translateY(40vh) scale(1); } }

/*# sourceMappingURL=style.css.map */
