/*遮罩层样式*/
#lightbox-mask{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  /* IE 透明度*/
  filter: alpha(opacity=50%);
  z-index: 10000;
  display: none;
}
/* 弹框样式 */
#lightbox-popup{
  border-radius: 5px;
  padding: 5px;
  position: fixed;
  left : 50%;
  background: #fff url('../src/icon/loading.gif') no-repeat center center;
  z-index: 10001;
  display: none;
}
#lightbox-popup .lightbox-pic-view{
  position: relative;
}
#lightbox-popup .lightbox-pic-view .lightbox-btn{
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  cursor: pointer;
}
#lightbox-popup .lightbox-pic-view .lightbox-prev-btn{
  left: 0;
}

#lightbox-popup .lightbox-pic-view .lightbox-prev-btn-show{
  background: url('../src/icon/prev.png') no-repeat left center;
}

#lightbox-popup .lightbox-pic-view .lightbox-next-btn{
  right: 0;
}

#lightbox-popup .lightbox-pic-view .lightbox-next-btn-show{
  background: url('../src/icon/next.png') no-repeat right center;
}

#lightbox-popup .lightbox-pic-view .lightbox-img{
  display: block;
  width: 100%;
  height: 100%;
}

#lightbox-popup .lightbox-pic-caption{
  position: relative;
  top: -68px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
#lightbox-popup .lightbox-pic-caption .lightbox-caption-area{
  color: #eee;
  padding: 10px 5px;
  line-height: 0.5;
}
#lightbox-popup .lightbox-pic-caption .light-close-btn{
  cursor: pointer;;
  background: url('../src/icon/close.png') no-repeat center center;
  height: 27px;
  width: 27px;
  position: absolute;
  right: 10px;
  top : 18px;
}
